body{
    margin: 0;
    background-color:black;
    font-family: 'Dela Gothic One', sans-serif;

font-size: 24px;
color: white;
line-height: 1.6;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/* контейнер */
.container{

    margin: 0 auto;

    width: 1440px;

}
/* интро */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background:url("./img/новаяновая.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{ 
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    
}

.intro__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;

    background-color: white;
}
.intro__suptitle{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;

    text-align: center;
}

/* шапка */
.header{
    width: 100%;
    padding-top: 17px;
    position: absolute;
    top:0 ;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items:center ;

}
.header__logo{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
/* навигация */
.nav{
    font-size: 40px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align:top ;
    position:relative ;
    margin: 0 80px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}
.nav_link::after{
    content: "";
    display: block;
    width: 100%;

    

    background-color: rgb(231, 113, 188);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover{
    color:rgb(231, 113, 188);
}
.nav_link:hover::after{
  opacity: 1;
}


/*кнопка*/
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid white;

    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: .1s linear, color .1s linear;

}
.btn:hover{
    background-color: rgb(231, 113, 188);
    color: white;
}
/* слайдер*/
.slider{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.slider__item{
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid white;
    opacity: .7 ;

    font-size: 18px;
    color: white;
    text-transform: uppercase;
    top: 140px;
}

.slider__item.active{
    opacity: 1 ;
}
.slider__item.active::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    
    background-color: rgb(231, 113, 188);

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num{
    font-size: 24px;
    color: white;
    font-weight: 700;
}

/* секции */
.section{
    padding: 60px 0;
}
.section_header{
    width: 100%;
    max-width: 590px;
    margin: auto;
}

.section_title{
    font-size: 80px;
    font-weight: 700;
    color: white;
    text-align: center;

}

.section_text{
    font-size: 24px;
    max-width: 590px;
    margin-left: 152px;
    margin-top: 80px;
}
.section_img{
    position: relative;
    margin-left: 60px;
    margin-top: 83px;
    max-height: 470px;

}

/* about */
.about{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about_item{
  
margin: 80px auto 90px;

background-color:rgb(231, 113, 188) ;
}

.about_item:hover .about_img{
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
opacity: .1;
}

.about_img{
    background: linear-gradient(to bottom, rgb(231, 113, 188),black);
    transition: transform .2s linear;
}

.about_img img{
    display: block;
    transition: opacity .2s linear ;
}

/* статистика */
.statistics{
    background-color: rgb(231, 113, 188) ;
}

.stat{
    display: flex;
}
.stat_item{
    flex: 1 1 0;
    padding: 0 25px;
    border-left: 6px solid black;
    text-align: center;
    color: white;

}
.stat_item:last-child{
    border-right: 6px solid black;

}
.stat_count{
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;

}

.stat_text{
    font-size: 14px;
    text-transform: uppercase;
}

/*сервисы*/

.services{
    display: flex;
}
.services_item{
    flex:1 1 0  ;
    padding-left: 140px;
    position: relative;
    margin: 70px auto;
}

.services_icon{
  
    top: 0;
    left: 0;
    z-index: 1;
}

.services_title{
    font-size: 24px;
    color: white;
    margin-bottom: 10px;

    cursor: pointer;

    position:relative ;

    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
  
}

.services_title::after{
    content: "";
    display: block;
    width: 100%;

    

    background-color: rgb(231, 113, 188);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.services_title:hover{
    color:rgb(231, 113, 188);
}
.services_title:hover::after{
  opacity: 1;
}

.services_text{
    font-size: 15px;
    color: white;
    max-width: 200px;
}

/* концерты*/
.concert{
    display: flex;
}

.concert_item{
    flex:1 1 0  ;
    padding-left: 160px;
    position: relative;
    margin: 80px auto;
}

.concert_text{
    font-size: 36px;
    color: white;
    max-width: 364px;
    position: absolute;
}

.concert_data{
    font-size: 36px;
    color: white;
    max-width: 200px;
    margin: auto 390px;
    max-width: 100px;
    position: absolute;
}

.concert_text1{
    font-size: 36px;
    color: white;
    max-width: 364px;
    position: absolute;
     margin: auto 649px;

}
.concert_data1{
    font-size: 36px;
    color: white;
    max-width: 200px;
    margin: auto 549px;
    max-width: 100px;
    margin: auto ;
    margin-left: 1009px;
}


/*подвал */
.footer{
    padding-top: 46px;
    background-color: black;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

.footer_col--first{
    width: 21%;
}

.footer_col--second{
    width: 39%;
}
.footer_col--third{
    width: 41%;
}

.footer_logo{
    margin-left: 76px;
    margin-right: 100px;
    margin-top: 50px;
}

.footer_text{
    font-size: 24px;
    margin-top: 123px;
}

/*соц сети*/

.blogs_item{
display: flex;
margin-top: 60px;

}
.blogs_img{
position: absolute;
}
.blogs_content{
    padding-left: 80px;
    margin-top: 20px;
}
.blogs_title{
    color: white;
    font-size: 24px;
  
    text-decoration: none;
}
.blogs_title:hover{
    text-decoration: underline;
}